<div *ngFor="let item of items; let i = index">
  <div style="display: flex">
    <input type="checkbox" [checked]="item.checked" value="{{item.id}}" (change)="handleChange(item)"/>
    <app-item [item]="item"></app-item>
    <button (click)="update(item)">Update</button>
    <button (click)="remove(item, i)">Remove</button>
  </div>
</div>

<button (click)="add()">Add new</button>

<div style="display: flex; width: 30%; justify-content: space-between">
  <app-un-checked [items]="items"></app-un-checked>
  <app-checked [items]="items"></app-checked>
</div>
